

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Créer une salle</h2>
  <label>Nombre</label><br>
  <input type="number" placeholder="numéro" formControlName="number"/><br>
  <label>Capacité</label><br>
  <input type="number" placeholder="capacité" formControlName="capacity"/><br>
  <label>student access</label>
  <input type="checkbox" formControlName="studentAccess"/><br>
  <label>Matériels</label><br>
  <select multiple  formControlName="materialsId">
    <option [value]="mat.id" *ngFor="let mat of materials">{{mat.name}}</option>
  </select><br>

  <button type="submit">submit</button>
</form>
