*,
*:before,
*:after{

  box-sizing: border-box;
}
body{
  background-color: #020101;
}
.background{
  width: 430px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
.background .shape{
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}
.shape:last-child{
  background: linear-gradient(
      #ff512f,
      #f09819

  );
  left: -150px;
  top: -80px;
}
.shape:first-child{
  background: linear-gradient(
      to right,
      #1845ad,
      #23a2f6
  );
  left: -150px;
  bottom: -250px;
}
.shaping1{
  background: linear-gradient(
      to right,
      #1845ad,
      #23a2f6
  );
  right: -150px;
  top: -100px;
}
.shaping2{
  background: linear-gradient(
      to right,
      #ff512f,
      #f09819
  );
  right: -30px;
  bottom: -100px;
}
form{
  margin-top:250px;
  height: 950px;
  width: 600px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #020101;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{

  width: 49%;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input,select{

  height: 50px;
  width:49%;
  background-color: #d0d0d0;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #808080;
}
button{
  margin-top: 50px;
  width: 100%;
  background-color: #949494;
  color: #020101;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
input:last-child{
  margin-left: 2px;
}



