<body>
<div class="background">
  <div class="shape"></div>
  <div class="shape shaping1"></div>
  <div class="shape shaping2"></div>
  <div class="shape"></div>

<!--  'userlogin':[],-->
<!--  'justification':[],-->
<!--  'neededCapacity':[],-->
<!--  'date':[],-->
<!--  'beginAt':[],-->
<!--  'endAt':[],-->
<!--  'materialId':[],-->
<!--  'additionalNotes':[]-->
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h3>Créer requête</h3>

  <label for="name">Pseudo</label><br>
  <input  type="text" placeholder="" id="name"><br>


  <label for="justification">Justification</label><br>
  <input  type="text" placeholder="" id="justification"><br>

  <label for="capacity">Capacité requise</label><br>
  <input  type="number" placeholder="" id="capacity"><br>





  <div class="form-row">
      <label for="start-time">Date début</label>
      <label for="end-time">Date fin</label>
  </div>
  <div class="form-row">
  <input type="datetime-local" id="start-time"
         min="09:00" max="18:00" required>

  <input type="datetime-local" id="end-time"
         min="09:00" max="18:00" required>
  </div>

  <label for="material">Matériels</label><br>
  <select multiple id="material"  >
    <option [value]="mat.id" *ngFor="let mat of materials">{{mat.name}}</option>
  </select><br>
  <label for="note">Note supplémentaire</label><br>
  <input  type="text" placeholder="" id="note"><br>

  <button type="submit">Envoyer</button>

</form>
</body>
